<VirtualHost *:80>
        ServerAdmin icewebhelp@ucdavis.edu
        ServerName <%= @fqdn %>
        ServerAlias 127.0.0.1 localhost
        
        Redirect / https://<%= @fqdn %>/
        
        ErrorLog ${APACHE_LOG_DIR}/rstudio-error.log
        CustomLog ${APACHE_LOG_DIR}/rstudio-access.log combined

</VirtualHost>
