<IfModule mod_ssl.c>
<VirtualHost *:443>
        ServerAdmin icewebhelp@ucdavis.edu
        ServerName <%= @fqdn %>
        ServerAlias 127.0.0.1 localhost
        
    <Proxy *>
        Allow from localhost
    </Proxy>

    ProxyPass        / http://localhost:8787/
    ProxyPassReverse / http://localhost:8787/        
    
    ErrorLog ${APACHE_LOG_DIR}/rstudio-ssl-error.log
    CustomLog ${APACHE_LOG_DIR}/rstudio-ssl-access.log combined
    
    
    SSLEngine on

    #TODO make this work on more than biogeo
    SSLCertificateFile /etc/ssl/private/__biogeo_ucdavis_edu_cert.cer
    SSLCertificateKeyFile /etc/ssl/private/wc.biogeo.ucdavis.edu.key
    SSLCertificateChainFile /etc/ssl/private/__biogeo_ucdavis_edu_interm.cer



</VirtualHost>
</IfModule>
